body {
	color: #000;
	background-color: #fff;
	border-color: #000;
}

[draggable] {
	-moz-user-select: none;
	cursor: move;
}

[draggable]:hover {
	font-weight: 700;
}

.content {
	display: flex;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.persons {
	border-collapse: collapse;
	margin: 40px 10px 10px 10px;
	table-layout: fixed;
	width: 400px;
}

.field {
	border: 1px solid #000;
	width: 100px;
	height: 32px;
	overflow: hidden;
}

.field:hover {
	font-weight: 700;
	word-wrap:break-word;
}

.empty {
	border: 1px solid #000;
	text-align: center;
}

th, caption {
	border: 1px solid #000;
	height: 32px;
}

.over {
	color: #33f;
}

.gray {
	color: #777;
}

.hide {
	display:none;
}
