<tr
	{{#if @root.draggable}}
		draggable=true
	{{/if}}
	data-id={{index}}
>
	<td class="field">{{index}}</td>
	<td class="field">{{name}}</td>
	<td class="field">{{surname}}</td>
	<td class="field">{{age}}</td>
</tr>
