<table class="persons {{className}}">
	<caption>{{caption}}</caption>
	<thead>
		<tr>
			<th>index</th>
			<th>name</th>
			<th>surname</th>
			<th>age</th>
		</tr>
	</thead>
	<tbody>
	{{#each persons}}
		{{> person}}
	{{else}}
		<tr>
			<td class="empty" colspan="4">no persons to show</td>
		</tr>
	{{/each}}
	</tbody>
</table>
